### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### Django ###
*.log
*.pot
*.pyc
__pycache__/

# Ignore migrations
*/migrations/*
!*/migrations/__init__.py

# Ignore PyCharm
.idea/